#mytextarea {
    height: 400px;
    width:600px;
    box-sizing:border-box;
    margin-left: 20px;
}

.iconsmall {
    font-size: 16px;
}

#pre, #next {
    background-color:  rgb(40, 6, 6);
}

   

.carousel.slide {
    width: 800px;
    height: 400px;
    background-color: beige;

}

.carousel-item img {
   min-width: 480px;
    min-height: 300px;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 400px;

   
}
.carousel.slide + form{
    width:550px;
}
@media (max-width:690px){
    #mytextarea {
        height:300px;
        width:240px;
        box-sizing:border-box;
    }

    .carousel.slide, .carousel-item img{
        height: 230px;
        width: 400px;
    }

    .carousel.slide + form{
        width:400px;
    }

}